:root{
  --background-gradient-value:0;
  --primary-color:8,6,8;
  --secondary-color:55,20,20,1;
  --main-buttons-color:255,255,255,0.03;
  --MovieElement-hover-BorderColor:150,35,35;
  --input-backgroundColor:5,3,4,0.55;
  --drop-down-color:20,12,14,1;
  --icon-color:100,60,60;
  --icon-hover-color:150,35,35,1;
  --text-color:255,240,240;
}
