:root{
--background-gradient-value:0;
--primary-color:10,14,23;
--secondary-color:55,65,81,1;
--main-buttons-color:255,255,255,0.04;
  --small-icons-color:255,255,255,0.04;
--MovieElement-hover-BorderColor:255,255,255;
--input-backgroundColor:0,0,0,0.44;
--drop-down-color:26,35,50,1;
--icon-color:55,65,81;
--icon-hover-color:148,163,184,1;
--text-color:255,255,255
  ;}
