:root{
  --background-gradient-value:0;
  --primary-color:15,15,15;
  --secondary-color:60,60,60,1;
  --main-buttons-color:255,0,0,1.0;
  --MovieElement-hover-BorderColor:255,0,0;
  --input-backgroundColor:0,0,0,0.5;
  --drop-down-color:28,28,28,1;
  --icon-color:100,100,100;
  --icon-hover-color:200,200,200,1;
  --text-color:255,255,255;
}
