.div-WarningMessage{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  height:80%;
}

.span-WarningMessage{
  font-size:20px;
  font-weight: 700;
  background-color:rgba(0,0,0,0);
  color: rgba(255,255,255,0.6);
}

