#div-SavedMedia{
  padding:6px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
#div-MediaSuggestions{
  padding:6px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

#div-OptionsContainer{
  margin-top:35px;
}

#div-SavedMedia span{
  position:fixed;
  left:50.0%;
  top:40%;
  transform: translate(-50%, 50%);
  font-size:30px;
  font-weight: 700;
  background-color:rgba(0,0,0,0);
  color: rgba(var(--text-color),0.6);
}
.div-MovieElement{
  transition: opacity 0.05s linear;
}
