*{
  background-color:rgba(var(--primary-color));
}
#div-SavedMedia{
  display: flex;
  flex-wrap: wrap;
}
#select-type{
  margin-left:6px; 
  margin-bottom:7px; 
  font-size:15px;
  padding:5px 10px 5px 10px;
  background-color:  rgba(255,255,255,10%);
  border:2px solid rgba(255,255,255,0%);
  border-radius:10px;
}
#select-type:hover{
 background-color:  rgba(255,255,255,30%);
}

#select-type:active{
 border:2px solid rgba(255,255,255,100%);
 background-color:  rgba(255,255,255,30%);
}

#div-OptionsContainer{
  margin-top:35px;
}

#div-SavedMedia span{
  position:fixed;
  left:50.0%;
  top:40%;
  transform: translate(-50%, 50%);
  font-size:30px;
  font-weight: 700;
  background-color:rgba(0,0,0,0);
  color: rgba(255,255,255,0.6);
}
.div-MovieElement{
  transition: opacity 0.05s linear;
}

