@font-face{
  font-family: Montserrat;
  src: url("../cache/fonts/Montserrat-VariableFont_wght.ttf");
}
*{
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  cursor: default;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

html,body{
  font-family: "Montserrat", 'Cairo', 'Noto Sans Arabic', sans-serif;
  padding:0;
  margin:0;
}

.hideElement{
  display: none !important;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar{
  background: rgba(0,0,0,0%);
  width:0px;
  height:0px;
}

::-webkit-scrollbar{
  background: rgba(0,0,0,0%);
  width:5px;
  height:5px;
}

#btn-fullscreen,
#btn-goBack,
#btn-PauseButton,
#btn-OpenSubtitle,
#btn-VolumeButton {
  width:50px;
  height:50px;
  background-color: rgba(0,0,0,0%);
  border:none;
  border-radius:10px;
  margin:0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#img-fullscreen,
#img-goBack,
#img-PauseButton,
#img-OpenSubtitle,
#img-VolumeButton {
  width:30px;
  height:30px;
  background-color: rgba(0,0,0,0%);
}

#btn-fullscreen:hover,
#btn-goBack:hover,
#btn-PauseButton:hover,
#btn-VolumeButton:hover,
#btn-OpenSubtitle:hover{
  background-color:  rgba(0,0,0,20%);
}
#btn-OpenSubtitle{
  margin-right:50px;
}

#div-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
#div-bottomButtonsContainer,
#div-topButtonsContainer {
  position: absolute;
  background-color: rgba(0,0,0,40%);
  box-sizing: border-box;
  padding:20px;
  z-index: 10;
  width: 100%;
}
#div-topButtonsContainer {
  display:flex;
  top:-150%;
}
#div-bottomButtonsContainer {
  bottom:150%;
  padding:20px 20px 10px 20px;
}

#div-videoContainer{
  display:flex;
  align-items:center;
  height:100%;
  width:100%;
}
video{
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}
#div-SomethingWentWrong,
#img-movieMedias-LoadingGif{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  z-index: 10;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
#div-bottomBottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding:0;
  margin:0;
}

#div-topButtonsContainer,
#div-bottomBottomContainer{
  display:flex;
  justify-content:space-between;
}
#div-topBottomContainer{
  display:flex;
  justify-content:center;
  flex-direction: row;
  align-items:center;
  margin-bottom:10px;
}
#input-videoSlider{
  width:100%;
  margin:0px 10px 0px 10px;
}

#p-videoPosition,
#p-videoDuration{
  font-weight:bold;
  font-size:20px;
  color:white;
  padding:0px 5px 0px 5px;
  margin:0px;
}
#div-rightSide{
  display: flex;
  align-items:center;
}

#div-Subtitles{
  background-color:rgba(0,0,0,0%);
  position:absolute;
  bottom:10px;
  left:50%;
  transform: translate(-50%);
  color:white;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  font-size:35px;
  z-index:1;
  margin:10px;
  font-size: 30px;
}

#div-SomethingWentWrong{
  display:none;
  justify-content:center;
  align-items: center;
  text-align:center;
  flex-direction:column;
  background-color:rgba(var(--primary-color),1);
  color: rgba(255,255,255,0.5);
  font-size:18px;
  font-weight:600;
  padding:10px;
  border-radius:20px;
  width:400px;
  min-height:200px;
}
