@font-face{
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
*{
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  cursor: default;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

html,body{
  font-family: "Montserrat", 'Cairo', 'Noto Sans Arabic', sans-serif;
  padding:0;
  margin:0;
}

.hideElement{
  display: none !important;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar{
  background: rgba(0,0,0,0%);
  width:0px;
  height:0px;
}

::-webkit-scrollbar{
  background: rgba(0,0,0,0%);
  width:5px;
  height:5px;
}

#btn-fullscreen,
#btn-goBack,
#btn-PauseButton,
#btn-OpenSubtitle,
#btn-VolumeButton {
  display:flex;
  justify-content:center;
  align-items:center;
  width:55px;
  height:55px;
  background-color: rgba(0,0,0,0%);
  border:none;
  border-radius:10px;
  margin:0;
  cursor:pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#btn-goBack{
  width:50px;
  height:50px;
  padding-right:10px;
}

#btn-goBack svg{
  transform:scale(1.1);
}

#img-fullscreen,
#img-PauseButton,
#img-OpenSubtitle,
#img-VolumeButton {
  width:68%;
  height:68%;
  background-color: rgba(0,0,0,0%);
  object-fit: contain;
  cursor:pointer;
}

#btn-fullscreen:hover,
#btn-goBack:hover,
#btn-PauseButton:hover,
#btn-VolumeButton:hover,
#btn-OpenSubtitle:hover{
  background-color:  rgba(0,0,0,20%);
}
#btn-OpenSubtitle{
  margin-right:50px;
}

#div-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
#div-bottomButtonsContainer,
#div-topButtonsContainer {
  display:none;
  position: absolute;
  backdrop-filter: blur(3px);
  background-color: rgba(0,0,0,40%);
  box-sizing: border-box;
  padding:18px;
  z-index: 10;
  width: 100%;
}

/* Updated top bar styling to match mainPage */
#div-topButtonsContainer {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0,0,0,40%);
  height: 80px;
  box-sizing: border-box;
  padding: 18px;
  z-index: 10;
}

#div-topButtonsContainer[class="fixedTopBar"]{
  display:flex;
  background-color:transparent;
  backdrop-filter: blur(0);
  top:-150%;
}

#div-bottomButtonsContainer {
  bottom:150%;
  padding:20px 20px 10px 20px;
}

#div-videoContainer{
  display:flex;
  align-items:center;
  height:100%;
  width:100%;
}
video{
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}
#div-SomethingWentWrong,
#LoadingGif{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  z-index: 10;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
#div-bottomBottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding:0;
  margin:0;
}

#div-topButtonsContainer,
#div-bottomBottomContainer{
  justify-content:space-between;
}
#div-topBottomContainer{
  display:flex;
  justify-content:center;
  flex-direction: row;
  align-items:center;
  margin-bottom:10px;
}
#input-videoSlider{
  accent-color:rgba(var(--secondary-color)); 
  width:100%;
  margin:0px 10px 0px 10px;
}

#input-volumeSlider{
  accent-color:rgba(var(--secondary-color));
}

#p-videoPosition,
#p-videoDuration{
  font-weight:bold;
  font-size:20px;
  color:rgb(var(--text-color));
  padding:0px 5px 0px 5px;
  margin:0px;
}
#div-rightSide{
  display: flex;
  align-items:center;
}

#div-Subtitles{
  background-color:rgba(0,0,0,0%);
  position:absolute;
  bottom:10px;
  left:50%;
  transform: translate(-50%);
  color:rgb(var(--text-color));
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  z-index:1;
  margin:10px;
  font-size: 30px;
}

#div-SomethingWentWrong{
  display:none;
  justify-content:center;
  align-items: center;
  text-align:center;
  flex-direction:column;
  background-color:rgba(var(--primary-color),1);
  color: rgba(var(--text-color),0.5);
  font-size:18px;
  font-weight:600;
  padding:10px;
  border-radius:20px;
  width:400px;
  min-height:200px;
}
