@font-face{
  font-family: Montserrat;
  src: url("../cache/fonts/Montserrat-VariableFont_wght.ttf");
}
*{
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  cursor: default;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

html,body{
  font-family: "Montserrat", 'Cairo', 'Noto Sans Arabic', sans-serif;
  padding:0;
  margin:0;
}

.hideElement{
  display: none !important;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar{
  background: rgba(0,0,0,0%);
  width:0px;
  height:0px;
}

::-webkit-scrollbar{
  background: rgba(0,0,0,0%);
  width:5px;
  height:5px;
}

#div-top {
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  background-color:transparent;
  height: 80px;
  box-sizing: border-box;
  padding: 20px;
  border-bottom:1px solid rgba(var(--div-containers-borders-color));
  z-index:10;
}
#btn-fullscreen,
#btn-goBack{
  display:flex;
  justify-content:center;
  align-items:center;
  width:50px;
  height:50px;
  background-color:  rgba(0,0,0,0%);
  border:none;
  border-radius:10px;
  cursor:pointer;
}

#img-goBack,
#img-fullscreen{
  background-color:  rgba(0,0,0,0%);
  width:30px;
  height:30px;
  cursor:pointer;
}
#btn-fullscreen:hover,
#btn-goBack:hover{
  background-color:  rgba(var(--main-buttons-color));
}
#icon-fullscreen{
  fill:white;
  width:25px;
}
#icon-goBack{
  width:40px;
}
#div-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#div-SomethingWentWrong,
#img-movieMedias-LoadingGif{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  z-index: 10;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
