.custom-toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 55.2px;
  height: 29.6px;
  position: relative;
}
.custom-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.toggle-track {
  background: #888888;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  transition: background 0.3s;
  position: relative;
}
.toggle-thumb {
  background: white;
  border-radius: 50%;
  width: 18.4px;
  height: 18.4px;
  position: absolute;
  top: 50%;
  left: 3.68px;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.custom-toggle input:checked + .toggle-track {
  background: rgba(var(--secondary-color));
}
.custom-toggle input:checked + .toggle-track .toggle-thumb {
  transform: translateX(27.6px) translateY(-50%);
}
