:root{
    --dont-Smooth-transition-between-pages:0;
--primary-color:22,20,49;
--secondary-color:0,0,0,0.5;
--div-containers-borders-color:255,255,255,0;
--main-buttons-color:0,0,0,0.3;
--MovieElement-hover-BorderColor:255,255,255;
--input-backgroundColor:0,0,0,0.2;
--drop-down-color:13,12,29,1;
--icon-color:50,50,100;
--icon-hover-color:100,70,190,1;
--text-color:0,0,0
  ;}