:root{
    --dont-Smooth-transition-between-pages:0;
--display-scroll-bar:none;
--primary-color:16,16,16;
--secondary-color:30,30,30,0.5;
--div-containers-borders-color:255,255,255,0;
--main-buttons-color:92,92,92,0.3;
--MovieElement-hover-BorderColor:255,255,255;
--input-backgroundColor:79,79,79,0.2;
--drop-down-color:51,51,51,0.4;
--icon-color:43,43,43;
--icon-hover-color:194,194,194,0.81;
--text-color:0,0,0
  ;}