*{
  transition:opacity 0.1s ease;
}
#div-MediaSuggestions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* or space-evenly */
}

#select-Genres,
#select-type{
  margin-left:6px; 
  margin-bottom:7px; 
  font-size:15px;
  padding:5px 10px 5px 10px;
  background-color:  rgba(255,255,255,10%);
  border:2px solid rgba(255,255,255,0%);
  border-radius:10px;
}
#select-Genres:hover,
#select-type:hover{
 background-color:  rgba(255,255,255,30%);
}

#select-Genres:active,
#select-type:active{
 border:2px solid rgba(255,255,255,100%);
 background-color:  rgba(255,255,255,30%);
}

option{
  background-color:rgba(var(--primary-color),1);
}
#div-OptionsContainer{
  margin-top:35px;
}

.loader{
  position:fixed;
  opacity:0;
  z-index:2000;
}
