*{
  transition:opacity 0.1s ease;
}
#div-MediaSuggestions{
  padding:6px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

#div-OptionsContainer{
  display:flex;
  flex-direction:row;
  margin-top:35px;
}

.loader{
  position:fixed;
  opacity:0;
  z-index:2000;
}
