*{
  transition:opacity 0.1s ease;
}
#div-MediaSuggestions{
  padding:6px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

#div-OptionsContainer{
  display:flex;
  flex-direction:row;
  margin-top:35px;
}

.loader{
  position:fixed;
  opacity:0;
  z-index:2000;
}

#lds-dual-ring-container {
  display: none;
  justify-content: center;
  align-items: center;
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.div-categories-description{
  padding:25px 20px 20px 20px!important;
}
.div-categories-description h1{
  margin:0px !important;

}
